extends ../base

block page-head
    title Poetry | brunsnik
    link(href="/style/poetry.css", rel="stylesheet", type="text/css")

block content
    -
        const pages = contents["poetry"]._.pages
            .filter(item => typeof item.metadata.title === "string" && item.metadata.title.length)
            .map((item) => ({
                title: item.metadata.title,
                url: item.url,
                excerpt: item.metadata.excerpt
            }));
    main
        .poetry
            h1 Poetry
            p Index by title
            nav.poetry-index-nav
                a(href="/poetry/index-by-first-line.html") Index by first line
                a(href="/poetry/index-by-date.html") Index by date composed
            ol
                each item in pages
                    li
                        a(href=item.url)=item.title

        p.copyright All content on this site !{"&copy;"}2019 brunsnik

        a.back-to-top(href="#top")="Back to top"

