extends ../base

block page-head
    link(href="/style/poetry.css", rel="stylesheet", type="text/css")

block content
    -
        var pages = contents["poetry"]._.pages
            .filter(item => typeof item.metadata.title === "string" && item.metadata.title.length > 0)
            .map((item) => ({
                title: item.metadata.title,
                url: item.url,
                firstLine: item.metadata.firstLine,
                excerpt: item.metadata.excerpt,
            }))
    main#top
        h1 Poetry
        div.poetry
            each item in pages
                article.poem
                    h2
                        a(href=item.url)=item.title
                    p #{item.excerpt}
                    p.more
                        a(href=item.url)="Continue reading..."

