extends ../base

block page-head
    title #{page.title}
    link(href="/style/poem.css", rel="stylesheet", type="text/css")

block content
    main
        article.poem
            != page.html
        a.back-to-top(href="#top")="Back to top"
