html(lang="en-AU")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="https://use.typekit.net/kgg7dgk.css", rel="stylesheet")
        link(href="/style/main.css", rel="stylesheet", type="text/css")
        block page-head
    body#top
        include includes/nav

        block content

        include includes/google.html
        include includes/image-replacement.html
        include includes/nav.html
