html
    head
        title brunsnik
        link(href="https://use.typekit.net/kgg7dgk.css", rel="stylesheet")
        link(href="/main.css", rel="stylesheet", type="text/css")
        block page-head
    body
        block content

        include includes/google.html
        include includes/image-replacement.html
