@import "./style/_variables";
@import "./style/backgrounds/brunsnik_bg_desktop";
@import "./style/backgrounds/brunsnik_bg_mob_landscape";
@import "./style/backgrounds/brunsnik_bg_mob_portrait";
@import "./style/backgrounds/brunsnik_bg_tablet_portrait";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Garamond, Georgia, "Times New Roman", serif;
  font-size: 1rem;
  color: $text-color;
  background: $body-bg-color no-repeat fixed top center;
  background-size: cover;
}

@media screen and (min-width: 320px) and (orientation: portrait) {
  @include svg-brunsnik-bg-mob-portrait;

  main {
    width: 100%;
    margin: 64px 0 100vh;
    padding: 1.25rem 0.75rem;
  }
}

@media screen and (min-width: 568px) and (orientation: landscape) {
  @include svg-brunsnik-bg-mob-landscape;

  main {
    margin: 64px 1rem 100vh;
    padding: 1.25rem 0.75rem;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  @include svg-brunsnik-bg-tablet-portrait;
  body {
    background-size: contain;
  }

  main {
    width: 640px;
    margin: 72px auto 100vh;
    padding: 2rem 1.75rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) and (min-resolution: 144dpi) {
  main {
    width: 940px;
    margin: 128px auto 100vh;
    padding: 2rem 1.75rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) and (max-resolution: 72dpi) {
  @include svg-brunsnik-bg-desktop;

  main {
    width: 940px;
    margin: 184px auto 100vh;
    padding: 2rem 1.75rem;
  }
}

main {
  background-color: $main-bg-color;
  position: relative;
}

h1 {
  margin: 0 0 0.67em;
  font-family: itc-avant-garde-gothic-pro, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

h2 {
  font-family: itc-avant-garde-gothic-pro, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125rem;
}

.back-to-top {
  display: block;
  position: absolute;
  bottom: calc(-100vh + 1rem);
  left: 50%;
  transform: translateX(-50%);

  padding: 0.25em 0.33em;
  background-color: $main-bg-color;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, .4);
  border-radius: 2px;
  font-size: 0.875rem;

  &,
  &:visited,
  &:hover {
    text-decoration: none;
    color: $link-color;
  }
}

nav {
  position: fixed;
  top: 0.67rem;
  right: 0.75rem;
  width: 48px;
  height: 48px;
  z-index: 10;

  background-color: $main-bg-color;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, .2);
  border-radius: 2px;

  .icon {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      width: 60%;
    }

    &:hover,
    &:hover {
      color: #f3f3f2;
      background-color: $text-color;
    }
  }

  ul {
    display: none;
    position: absolute;
    top: calc(100% - 2px);
    right: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .2);
  }

  li {
    width: 96px;
    display: block;
    border-bottom: 1px solid #CECDCB;
    background-color: $main-bg-color;
  }

  a {
    display: block;
    padding: 0.5rem;
    width: 100%;
    text-align: right;

    &,
    &:visited {
      text-decoration: none;
      color: $link-color;
    }

    &:hover,
    &:hover:visited {
      text-decoration: none;
      color: #f3f3f2;
      background-color: $text-color;
    }

    &:active {
      color: $main-bg-color;
      background-color: lighten($link-color, 20%);
    }
  }
}